/* Globale stijlen */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 20px;
}

section {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px; /* Toegevoegd om ruimte tussen secties toe te voegen */
}

section h2 {
    margin-top: 0;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Media queries voor responsive design */
@media screen and (max-width: 768px) {
    header {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}